<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/nprogress")
    @Styles.Render("~/Content/iCheck")
    @Styles.Render("~/Content/bootstrap-progressbar")
    @Styles.Render("~/Content/bootstrap-daterangepicker")
    @Styles.Render("~/Content/jqvmap")
    @Styles.Render("~/Content/custom")
    @Styles.Render("~/Content/financial.css")
    @Styles.Render("~/Content/management.css")
    @Styles.Render("~/Content/sales.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/home.css")
    @Styles.Render("~/Content/jquery-ui")
</head>
<body class="nav-md">
            
            @Html.Action("Header","Menu")
            <!-- /top navigation -->
            @RenderBody()

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fastclick")
    @Scripts.Render("~/bundles/nprogress")
    @Scripts.Render("~/bundles/Chart")
    @Scripts.Render("~/bundles/gauge")
    @Scripts.Render("~/bundles/bootstrap-progressbar")
    @Scripts.Render("~/bundles/icheck")
    @Scripts.Render("~/bundles/skycons")
    @Scripts.Render("~/bundles/flot")
    @Scripts.Render("~/bundles/flot-plugins")
    @Scripts.Render("~/bundles/date")
    @Scripts.Render("~/bundles/jqvmap")
    @Scripts.Render("~/bundles/daterangepicker")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/index.js")
    @RenderSection("scripts", required: false)
</body>
</html>
