
@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FirstREST.Controllers.SalesController.SalesModel

<div class="right_col" role="main">
    <h2>Sales</h2>

    <div class="row tile_count">
        <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top">Total Invoice Debit</span>
            <div class="count green">@Model.SalesInfo.totalInvoiceDebit<i class="fa fa-eur"></i></div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top">Total Invoice Credit </span>
            <div class="count red">@Model.SalesInfo.totalInvoiceCredit<i class="fa fa-eur"></i></div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top">Avg. Transaction Price</span>
            <div class="count">@System.Math.Truncate(Model.averageTransactionPrice)<i class="fa fa-eur"></i></div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top">Total Taxes</span>
            <div class="count red">@Model.sumTotalTaxes<i class="fa fa-eur"></i></div>
        </div>
 </div>

    <!--<div class="row">
        <div class="col-md-6 col-xs-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Average AR vs Average AP</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                             <ul class="dropdown-menu" role="menu">
                                 <li>
                                     <a href="#">Settings 1</a>
                                 </li>
                                 <li>
                                     <a href="#">Settings 2</a>
                                 </li>
                             </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="x_content">
                        <canvas id="mybarChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Accounts Payable By Period of Time</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                 <li>
                                     <a href="#">Settings 1</a>
                                 </li>
                                 <li>
                                     <a href="#">Settings 2</a>
                                 </li>
                             </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                        <div class="col-md-12" style="overflow:hidden;">
                          <canvas id="canvasDoughnut"></canvas>
                           <!--  <h4 style="margin:18px">Weekly sales progreatss</h4> -->
                       <!-- </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!--<div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Cash Balance</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                 <li>
                                     <a href="#">Settings 1</a>
                                 </li>
                                 <li>
                                     <a href="#">Settings 2</a>
                                 </li>
                             </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                        <div class="col-md-5 tile_stats_count cash-balance-div" style="overflow:hidden;">
                             <div class="cash-balance count green">138.308 <i class="fa fa-eur"></i></div>
                             <div class="cash-balance-in count"><span class="count_top in-balance"> IN </span><div class="inline-block-div count green balance-sheet-number">2500 <i class="fa fa-eur"></i></div></div>
                            <div class="cash-balance-out count"><span class="count_top out-balance"> OUT </span><div class="inline-block-div count red balance-sheet-number">2500 <i class="fa fa-eur"></i></div></div>
                        </div>
                        <div class="col-md-7" style="overflow:hidden;">
                            <canvas id="lineChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!--
        <div class="row">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Open Invoices<small>Receivable</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                 <li>
                                     <a href="#">Settings 1</a>
                                 </li>
                                 <li>
                                     <a href="#">Settings 2</a>
                                 </li>
                             </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                   
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    @*<th>
                                        <input type="checkbox" id="check-all" class="flat">
                                    </th>*@
                                    <th class="column-title">Invoice </th>
                                    <th class="column-title">Invoice Date </th>
                                    <th class="column-title">Order </th>
                                    <th class="column-title">Bill to Name </th>
                                    <th class="column-title">Status </th>
                                    <th class="column-title">Amount </th>
                                    <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="even pointer">
                                    @*<td class="a-center ">
                                        <input type="checkbox" class="flat" name="table_records">
                                    </td>*@
                                    <td class=" ">121000040</td>
                                    <td class=" ">May 23, 2014 11:47:56 PM </td>
                                    <td class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
                                    <td class=" ">John Blank L</td>
                                    <td class=" ">Paid</td>
                                    <td class="a-right a-right ">$7.45</td>
                                </tr>
                                <tr class="odd pointer">
                                    <td class=" ">121000039</td>
                                    <td class=" ">May 23, 2014 11:30:12 PM</td>
                                    <td class=" ">
                                        121000208 <i class="success fa fa-long-arrow-up"></i>
                                    </td>
                                    <td class=" ">John Blank L</td>
                                    <td class=" ">Paid</td>
                                    <td class="a-right a-right ">$741.20</td>
                                </tr>
                                <tr class="even pointer">
                                    <td class=" ">121000038</td>
                                    <td class=" ">May 24, 2014 10:55:33 PM</td>
                                    <td class=" ">
                                        121000203 <i class="success fa fa-long-arrow-up"></i>
                                    </td>
                                    <td class=" ">Mike Smith</td>
                                    <td class=" ">Paid</td>
                                    <td class="a-right a-right ">$432.26</td>
                                </tr>
                                <tr class="odd pointer">
                                    <td class=" ">121000037</td>
                                    <td class=" ">May 24, 2014 10:52:44 PM</td>
                                    <td class=" ">121000204</td>
                                    <td class=" ">Mike Smith</td>
                                    <td class=" ">Paid</td>
                                    <td class="a-right a-right ">$333.21</td>
                                </tr>
                                <tr class="even pointer">
                                    <td class=" ">121000040</td>
                                    <td class=" ">May 24, 2014 11:47:56 PM </td>
                                    <td class=" ">121000210</td>
                                    <td class=" ">John Blank L</td>
                                    <td class=" ">Paid</td>
                                    <td class="a-right a-right ">$7.45</td>
                                </tr>
                                <tr class="odd pointer">
                                    <td class=" ">121000039</td>
                                    <td class=" ">May 26, 2014 11:30:12 PM</td>
                                    <td class=" ">
                                        121000208 <i class="error fa fa-long-arrow-down"></i>
                                    </td>
                                    <td class=" ">John Blank L</td>
                                    <td class=" ">Paid</td>
                                    <td class="a-right a-right ">$741.20</td>
                                </tr>
                                <tr class="even pointer">
                                    <td class=" ">121000038</td>
                                    <td class=" ">May 26, 2014 10:55:33 PM</td>
                                    <td class=" ">121000203</td>
                                    <td class=" ">Mike Smith</td>
                                    <td class=" ">Paid</td>
                                    <td class="a-right a-right ">$432.26</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Open Invoices <small>Payable</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <!-- <ul class="dropdown-menu" role="menu">
                             <li>
                                 <a href="#">Settings 1</a>
                             </li>
                             <li>
                                 <a href="#">Settings 2</a>
                             </li>
                         </ul>-->
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table id="datatable-Sales" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Number </th>
                                    <th class="column-title">Period</th>
                                    <th class="column-title">Date</th>
                                    <th class="column-title">Type </th>
                                    <th class="column-title">Customer</th>
                                    <th class="column-title">Status </th>
                                    <th class="column-title">Gross Total </th>
                                    
                                </tr>
                            </thead>
                            <tbody>

                                @foreach(var invoice in @Model.CompanyInvoices){
                                <tr class="even pointer">
                                    <td class=" ">@invoice.invoiceNo</td>
                                    <td class=" ">@invoice.period</td>
                                    <td class=" ">@invoice.invoiceDate</td>
                                    <td class=" ">@invoice.invoiceType</td>
                                    <td class=" ">@invoice.customerID</td>

                                    @{

                                    if (@invoice.invoiceStatus.ToString()[0]== 'N')
                                    {
                                        <td class="red status-invoice">@invoice.invoiceStatus</td>
                                    }
                                    else
                                    {
                                        <td class="green status-invoice">@invoice.invoiceStatus</td>
                                    }

}
                                   
                                    <td class="">@invoice.grossTotal<i class="fa fa-eur"></i></td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
   
                <!-- /page content -->
