@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@functions{
    public string getMonth(int month)
    {
        string[] months = new string[] { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };

        return months[month - 1];
    }


    public string getMonthByPeriod(int month, string periodString)
    {

        int period = int.Parse(periodString);
        
        string[] months = new string[] { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };

        int month_period = month + period;
        if ((month_period - 2) < 12)
        {
            return months[month_period - 2];
        }
        else
        {
            return months[(month_period-12) - 2];
        }
    }
}

@model FirstREST.Controllers.SalesController.SalesModel

<div class="right_col" role="main">
    
    <div class="sales-title">
        <div class="title"></div>
        <div class="right-aligned">
            <label class="period">From</label>
            <div class="dropdown dropdown-from startDate-d">
                <label id="saft-start-month" hidden>@Model.SaftInfo.startDate.Month</label>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonStartDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @if (ViewContext.RouteData.Values["period1"] == null)
                    {
                    <a class="first-item" id="start" name=@Model.SaftInfo.startDate.Month href="#">@getMonth(@Model.SaftInfo.startDate.Month)</a>
                    }
                    @if (ViewContext.RouteData.Values["period1"] != null)
                    {
                        <a class="first-item" id="start" name=@Model.SaftInfo.startDate.Month href="#">@getMonthByPeriod(@Model.SaftInfo.startDate.Month,@ViewContext.RouteData.GetRequiredString("period1"))</a>
                    }
                    <i class="glyphicon glyphicon-menu-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   
                </div>
            </div>

            <label class="period">To</label>
            <div class="dropdown dropdown-to endDate-d">
                <label id="saft-end-month" hidden>@Model.SaftInfo.endDate.Month</label>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonEndDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @if (ViewContext.RouteData.Values["period2"] == null)
                    {
                    <a class="first-item" id="end" name=@Model.SaftInfo.endDate.Month href="#">@getMonth(@Model.SaftInfo.endDate.Month)</a>
                    }
                    @if (ViewContext.RouteData.Values["period2"] != null)
                    {
                        <a class="first-item" id="end" name=@Model.SaftInfo.endDate.Month href="#">@getMonthByPeriod(@Model.SaftInfo.startDate.Month, @ViewContext.RouteData.GetRequiredString("period2"))</a>
                    }
                    <i class="glyphicon glyphicon-menu-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                </div>
            </div>
            <button id="search-button" type="button" class="btn">
                Search
                <i class="glyphicon glyphicon-search"></i>
            </button>
            
        </div>
    </div>


    <div class="row tile_count">
        <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top">Gross Total</span>
            <div class="count green">@Model.sumGrossTotal.ToString("C0")</div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top">Avg Gross Total</span>
            <div class="count red">@System.Math.Truncate(Model.averageTransactionPrice).ToString("C0")</div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top">Taxes Total</span>
            <div class="count">@Model.sumTotalTaxes.ToString("C0")</div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top">Avg Taxes</span>
            <div class="count red">@System.Math.Truncate(Model.averageTotalTaxes).ToString("C0")</div>
        </div>
    </div>
    <div class="row">
        <div class="x_panel">
            <div class="x_title">

                <h2 class="title-with-icon">
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    Invoices
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table id="datatable-sales" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Number </th>
                                <th class="column-title">Period</th>
                                <th class="column-title">Date</th>
                                <th class="column-title">Type </th>
                                <th class="column-title">Customer</th>
                                <th class="column-title">Status </th>
                                <th class="column-title">Gross Total </th>
                                <th class="column-title">Tax Total </th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var invoice in @Model.CompanyInvoices)
                            {
                                <tr class="even pointer">
                                    <td class=" ">@invoice.invoiceNo</td>
                                    <td class=" ">@invoice.period</td>
                                    <td class=" ">@invoice.invoiceDate.ToString("dd/MM/yyyy")</td>
                                    <td class=" ">@invoice.invoiceType</td>
                                    <td class=" ">@invoice.customerID</td>

                                    @{

                                if (@invoice.invoiceStatus.ToString()[0] == 'N')
                                {
                                    <td class="red status-invoice">@invoice.invoiceStatus</td>
                                }
                                else
                                {
                                    <td class="green status-invoice">@invoice.invoiceStatus</td>
                                }

                                    }

                                    <td class="text-right">@invoice.grossTotal.ToString("C0")</td>
                                    <td class="text-right">@invoice.taxTotal.ToString("C0")</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div> <!--xcontent-->
        </div>
    </div> <!--row-->
    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h2 class="title-with-icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Customers
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <!-- <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>-->
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table id="datatable-customers" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">ID </th>
                                <th class="column-title">Name</th>
                                <th class="column-title">Account ID</th>
                                <th class="column-title">Tax ID </th>
                                <th class="column-title">Address</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var customer in @Model.CompanyCustomers)
                            {
                                <tr class="even pointer">
                                    <td class=" ">@customer.customerId</td>
                                    <td class=" ">@customer.customerName</td>
                                    <td class=" ">@customer.customerAccountId</td>
                                    <td class=" ">@customer.customerTaxId</td>
                                    <td class=" ">@customer.customerAddr</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div> <!--xcontent-->
        </div>
    </div> <!--row-->
</div>

<!-- /page content -->
