
@model FirstREST.Controllers.HomeController.CompanyModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>@Model.companyName</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <ul class="quick-list">
                            <li class="company-label">
                                <i class="fa fa-envelope-o company-icon"></i>Email: <label>@Model.companyEmail</label>
                            </li>
                            <li class="company-label"><i class="fa fa-code company-icon"></i>Website: <label>@Model.companyWebsite</label></li>
                            <li class="company-label">
                                <i class="fa fa-user company-icon"></i> Number of Employees: <label> @Model.numberOfEmployees</label>
                            </li>
                        </ul>
                        <div class="last-saft-update">
                            <i class="fa fa-refresh company-icon green"></i><label class="date-last-update green">@Model.saftCreationDate.ToShortDateString()</label><br/>
                            <small class="date-last-update-label">Last Update</small><br />
                            <button type="button" class="btn btn-default button-update-saft" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
                                Update 
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
       
    </div>
</div>