
@model FirstREST.Controllers.HomeController.CompanyModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>@Model.companyName</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <ul class="quick-list">
                            <li class="company-label">
                                <i class="fa fa-envelope-o company-icon"></i>Name: <label>@Model.companyName</label>
                            </li>
                            <li class="company-label"><i class="fa fa-code company-icon"></i>Address: <label>@Model.street</label></li>
                            <li class="company-label">
                                <i class="fa fa-user company-icon"></i> City: <label> @Model.city</label>
                            </li>
                        </ul>
                        <div class="last-saft-update">
                          <label class="date-last-update green">@Model.fiscalYear</label><br/>
                            <small class="date-last-update-label">@Model.startDate</small> -
                            <small class="date-last-update-label">@Model.endDate</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
       
    </div>
</div>