@{
    ViewBag.Title = "Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FirstREST.Controllers.ManagementController.ManagementModel

<div class="right_col" role="main">
    <h2>Management</h2>
    <div class="row tile_count">
        <div class="col-md-6 col-sm-6 col-xs-12 tile_stats_count employees-div">
            <span class="count_top"><i class="fa fa-user employee-icon"></i></span>
            <div class="count green inline-block-div">@Model.employees.Count</div>
            <div><span class="count_bottom">Total Number of Employees</span></div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 tile_stats_count employees-sales">
            <span class="count_top"><i class="fa fa-eur employee-icon"></i></span>
            <div class="count green inline-block-div">2500</div>
            <div><span class="count_bottom">Average Employees Sales per month</span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Employees Information</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <!-- <ul class="dropdown-menu" role="menu">
                                 <li>
                                     <a href="#">Settings 1</a>
                                 </li>
                                 <li>
                                     <a href="#">Settings 2</a>
                                 </li>
                             </ul>-->
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Employee ID</th>
                                    <th>Name</th>
                                    <th>Employee Average Sales</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var employee in @Model.employees)
                                {
                                    <tr class="even pointer">
                                        <td class=" ">@employee.id</td>
                                        <td class=" ">@employee.name</td>
                                        <td class=" ">@employee.money <i class="fa fa-eur"></i> </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>