@{
    ViewBag.Title = "Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FirstREST.Controllers.ManagementController.ManagementModel

<div class="right_col" role="main">
    
    <div class="row tile_count">
        <div class="col-md-6 col-sm-6 col-xs-12 tile_stats_count employees-div">
            <div class="count_bottom-div"><span class="count_bottom">Total Number of Employees</span></div>
            <span class="count_top"><i class="fa fa-user employee-icon"></i></span>
            <div class="count green inline-block-div">@Model.employees.Count</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Employees Information</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Employee ID</th>
                                    <th>Name</th>
                                    <th>Phone Number</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var employee in @Model.employees)
                                {
                                    <tr class="even pointer">
                                        <td class=" ">@employee.id</td>
                                        <td class=" ">@employee.name</td>
                                        <td class=" ">@String.Format("{0:### ### ###}", double.Parse(@employee.phone_number)) </td>
                                        <td class=" ">@employee.email </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>