@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

@model FirstREST.Controllers.InventoryController.InventoryModel

<div class="right_col" role="main">
    <h2>Inventory</h2>
    <div class="row tile_count">
        <div class="col-md-4 col-sm-8 col-xs-12 tile_stats_count">
            <span class="count_top"><i class="fa fa-bar-chart"></i> Sales Revenue | YTD</span>
            <div class="count">31 230 <i class="fa fa-euro"></i></div>
        </div>
        <div class="col-md-4 col-sm-8 col-xs-12 tile_stats_count">
            <span class="count_top"><i class="fa fa-line-chart"></i> Monthly Sales Growth</span>
            <div class="count green">13%</div>
        </div>
        <div class="col-md-4 col-sm-8 col-xs-12 tile_stats_count">
            <span class="count_top"><i class="fa fa-credit-card"></i> Profit</span>
            <div class="count">2,500 <i class="fa fa-euro"></i></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Average weekly sales revenue</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="x_content">
                        <canvas id="mybarChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Monthly Grow Sales | YTD</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                        <div class="col-md-12" style="overflow:hidden;">
                            <canvas id="canvasDoughnut"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Code </th>
                            <th class="column-title">Name</th>
                            <th class="column-title">Current Stock</th>
                            <th class="column-title">Desired Stock </th>
                            <th class="column-title">Needs Restock</th>
                            <th class="column-title">Price </th>
                            <th class="bulk-actions" colspan="7">
                                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var product in @Model.CompanyProducts)
                        {
                            <tr class="even pointer">
                                <td class=" ">@product.code</td>
                                <td class=" ">@product.description</td>
                                <td class=" ">@product.currentStock</td>
                                <td class=" ">@product.alertStock</td>
                                <td class=" ">@product.needsRestock</td>
                                <td class=" ">@product.pvp</td>
                                }

                                <!--<td class="a-right a-right ">$7.45</td>-->
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>