@{
    ViewBag.Title = "Financial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FirstREST.Controllers.FinancialController.FinancialModel

@functions{

    public string getMonth(int month)
    {

        string[] months = new string[] { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };



        return months[month - 1];

    }

    public string getMonth(string monthString)
    {
        int month = int.Parse(monthString);

        string[] months = new string[] { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };



        return months[month - 1];

    }



    public string getMonthByPeriod(int month, string periodString)
    {

        int period = int.Parse(periodString);
        
        string[] months = new string[] { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };

        int month_period = month + period;

        if ((month_period - 2) > 12)
        {

            return months[month_period - 2];

        }

        else
        {

            return months[(month_period - 12) - 2];

        }

    }

}




<div class="right_col" role="main">
    <div class="row tile_count">
        <div class="right-aligned">
            <label class="period">From</label>
            <div class="dropdown dropdown-from startDate-d">
                <label id="saft-start-month" hidden>@Model.SaftInfo.startDate.Month</label>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonStartDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @if (ViewContext.RouteData.Values["period1"] == null)
                    {
                        <a class="first-item" id="start" name=@Model.SaftInfo.startDate.Month href="#">@getMonth(@Model.SaftInfo.startDate.Month)</a>
                    }
                    @if (ViewContext.RouteData.Values["period1"] != null)
                    {
                        <a class="first-item" id="start" name=@Model.SaftInfo.startDate.Month href="#">@getMonth(@ViewContext.RouteData.GetRequiredString("period1"))</a>
                    }
                    <i class="glyphicon glyphicon-menu-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                </div>
            </div>

            <label class="period">To</label>
            <div class="dropdown dropdown-to endDate-d">
                <label id="saft-end-month" hidden>@Model.SaftInfo.endDate.Month</label>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonEndDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                    @if (ViewContext.RouteData.Values["period2"] == null)
                    {
                        <a class="first-item" id="end" name=@Model.SaftInfo.endDate.Month href="#">@getMonth(@Model.SaftInfo.endDate.Month)</a>
                    }
                    @if (ViewContext.RouteData.Values["period2"] != null)
                    {
                        <a class="first-item" id="end" name=@Model.SaftInfo.endDate.Month href="#">@getMonth(@ViewContext.RouteData.GetRequiredString("period2"))</a>
                    }
                    <i class="glyphicon glyphicon-menu-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                </div>
            </div>
            <button id="financial-search-button" type="button" class="btn">
                Search
                <i class="glyphicon glyphicon-search"></i>
            </button>

        </div>
    </div>
    <div class="row tile_count">
        <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top">EBIT</span>
            <div class="count green">@Model.CompanyIndicators.EBIT.ToString("C0")</div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top">EBITDA</span>
            <div class="count red">@Model.CompanyIndicators.EBITDA.ToString("C0")</div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top">Quick Ratio</span>
            <div class="count">@Model.CompanyIndicators.quickRatio</div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top">Current Ratio</span>
            <div class="count red">@Model.CompanyIndicators.currentRatio</div>
        </div>
    </div>
    <div class="row tile_count">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile">
                <div class="x_title">
                    <h2>Income Statement</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <ul class="quick-list">
                            <li class="company-label">
                                <h3>Sales and Revenues</h3>
                            </li>
                            <li class="company-label">
                                <ul class="quick-list">
                                    <li class="company-label">
                                        <div class="col-xs-6 text-left">Sales</div>
                                        <div class="col-xs-6 text-right"><label class="green"> @Model.ProfitsAndLosses[0].sales.ToString("C0") </label></div>

                                    </li>
                                    <li class="company-label">
                                        <div class="col-xs-6 text-left">Services</div>
                                        <div class="col-xs-6 text-right"><label class="green"> @Model.ProfitsAndLosses[0].services.ToString("C0") </label></div>

                                    </li>
                                    <li class="company-label">
                                        <div class="col-xs-6 text-left">Others</div>
                                        <div class="col-xs-6 text-right"><label class="green"> @Model.ProfitsAndLosses[0].otherIncomes.ToString("C0") </label></div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="quick-list">
                            <li class="company-label">
                                <h3>Operating Costs</h3>
                            </li>
                            <li class="company-label">
                                <ul class="quick-list">
                                    <li class="company-label">
                                        <div class="col-xs-6 text-left">Sales</div>
                                        <div class="col-xs-6 text-right"><label class="red"> @Model.ProfitsAndLosses[0].salesExpenses.ToString("C0") </label></div>
                                    </li>
                                    <li class="company-label">
                                        <div class="col-xs-6 text-left">Administrative</div>
                                        <div class="col-xs-6 text-right"><label class="red"> @Model.ProfitsAndLosses[0].administrativeExpenses.ToString("C0") </label></div>

                                    </li>
                                    <li class="company-label">
                                        <div class="col-xs-6 text-left">Others</div>
                                        <div class="col-xs-6 text-right"><label class="red"> @Model.ProfitsAndLosses[0].otherExpenses.ToString("C0") </label></div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="quick-list">
                            <li class="company-label">
                                <ul class="quick-list">
                                    <h3>Net Income</h3>
                                    <ul class="quick-list">
                                        @if (@Model.ProfitsAndLosses[0].netIncome > 0)
                                        {
                                            <li class="company-label green text-right">
                                                <label> @Model.ProfitsAndLosses[0].netIncome.ToString("C0") </label>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="company-label red text-right">
                                                <label> @Model.ProfitsAndLosses[0].netIncome.ToString("C0") </label>
                                            </li>
                                        }

                                    </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Accounts</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table id="datatable-sales" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">ID</th>
                                    <th class="column-title">Description</th>
                                    <th class="column-title">Balance</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var account in @Model.CompanyAccounts)
                                {
                                    <tr class="even pointer">
                                        <td class=" ">@account.accountId</td>
                                        <td class=" ">@account.accountDescription</td>
                                        <td class="text-right">@account.amount.ToString("C0")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div> <!--xcontent-->
            </div>
        </div>
        <div class="row">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Journals</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table id="datatable-sales" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">ID</th>
                                    <th class="column-title">Description</th>
                                    <th class="column-title">Total Credit</th>
                                    <th class="column-title">Total Debit</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var journal in @Model.CompanyJournals)
                                {
                                    <tr class="even pointer">
                                        <td class=" ">@journal.journalID</td>
                                        <td class=" ">@journal.journalDescription</td>
                                        <td class=" ">@journal.journalTotalCredit</td>
                                        <td class=" ">@journal.journalTotalDebit</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div> <!--xcontent-->
            </div>
        </div> <!--row-->
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Cash Balance</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                        <div class="col-md-5 tile_stats_count cash-balance-div" style="overflow:hidden;">
                            <div class="cash-balance count green">138.308 <i class="fa fa-eur"></i></div>
                            <div class="cash-balance-in count"><span class="count_top in-balance"> IN </span><div class="inline-block-div count green balance-sheet-number">2500 <i class="fa fa-eur"></i></div></div>
                            <div class="cash-balance-out count"><span class="count_top out-balance"> OUT </span><div class="inline-block-div count red balance-sheet-number">2500 <i class="fa fa-eur"></i></div></div>
                        </div>
                        <div class="col-md-7" style="overflow:hidden;">
                            <canvas id="cashBalanceChart"></canvas>
                        </div>
                    </div>
                </div>
                <script>
                    console.log("OLA");
                    $.get("/api/chart/CashBalance", function (response) {
                        var res = JSON.parse(response);
                        console.log("RES: " + res);
                        if ($('#cashBalanceChart').length) {

                            var ctx = document.getElementById("cashBalanceChart");
                            var lineChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: res["months"],
                                    datasets: [{
                                        label: "My First dataset",
                                        backgroundColor: "rgba(38, 185, 154, 0.31)",
                                        borderColor: "rgba(38, 185, 154, 0.7)",
                                        pointBorderColor: "rgba(38, 185, 154, 0.7)",
                                        pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
                                        pointHoverBackgroundColor: "#fff",
                                        pointHoverBorderColor: "rgba(220,220,220,1)",
                                        pointBorderWidth: 1,
                                        data: res["cash"]
                                    }]
                                },
                            });

                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div>
