
@{
    ViewBag.Title = "Financial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FirstREST.Controllers.FinancialController.FinanceModel

<div class="right_col" role="main">
    <h2>Financial</h2>

    <div class="row tile_count">
        <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Profits </span>
            <div class="count green">2500</div>
            <span class="count_bottom"><i class="green">5%</i> Year to Date</span>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Accounts Receivable</span>
            <div class="count green">123.50</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Accounts Payable </span>
            <div class="count red">2,500</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Avg. Transaction Price</span>
            <div class="count">4,567</div>
            <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Average AR vs Average AP</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="x_content">
                        <canvas id="ARvsAPChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var ar in @Model.AR)
        {
            @ar;
        }
        <script>
            $.get("/api/chart/ARvsAP", function (response) {
                var res = JSON.parse(response);
                if($('#ARvsAPChart').length){
                    var ctx = document.getElementById("ARvsAPChart");
                    var mybarChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: res["months"],
                            datasets: [{
                                label: 'Accounts Receivable',
                                backgroundColor: "#26B99A",
                                data: res["AR"]
                            }, {
                                label: 'Accounts Payable',
                                backgroundColor: "#03586A",
                                data: res["AP"]
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                }
            });
        </script>
        <div class="col-md-6 col-xs-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Accounts Payable By Period of Time</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                        <div class="col-md-12" style="overflow:hidden;">
                          <canvas id="APbyPeriodChart"></canvas>
                           <!--  <h4 style="margin:18px">Weekly sales progreatss</h4> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
        $.get("/api/chart/APbyPeriod", function (response) {
            var res = JSON.parse(response);
            if ($('#APbyPeriodChart').length) {
                var ctx = document.getElementById("APbyPeriodChart");
                var mybarChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: res["semesters"],
                        datasets: [{
                            label: 'Accounts Payable By Period of Time',
                            backgroundColor: "#26B99A",
                            data: res["AP"]
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        });
        </script>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Cash Balance</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                        <div class="col-md-5 tile_stats_count cash-balance-div" style="overflow:hidden;">
                             <div class="cash-balance count green">138.308 <i class="fa fa-eur"></i></div>
                             <div class="cash-balance-in count"><span class="count_top in-balance"> IN </span><div class="inline-block-div count green balance-sheet-number">2500 <i class="fa fa-eur"></i></div></div>
                            <div class="cash-balance-out count"><span class="count_top out-balance"> OUT </span><div class="inline-block-div count red balance-sheet-number">2500 <i class="fa fa-eur"></i></div></div>
                        </div>
                        <div class="col-md-7" style="overflow:hidden;">
                            <canvas id="cashBalanceChart"></canvas>
                        </div>
                    </div>
                </div>
                <script>
                $.get("/api/chart/CashBalance", function (response) {
                    var res = JSON.parse(response);
                    if ($('#cashBalanceChart').length) {

                        var ctx = document.getElementById("cashBalanceChart");
                        var lineChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: res["months"],
                                datasets: [{
                                    label: "My First dataset",
                                    backgroundColor: "rgba(38, 185, 154, 0.31)",
                                    borderColor: "rgba(38, 185, 154, 0.7)",
                                    pointBorderColor: "rgba(38, 185, 154, 0.7)",
                                    pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
                                    pointHoverBackgroundColor: "#fff",
                                    pointHoverBorderColor: "rgba(220,220,220,1)",
                                    pointBorderWidth: 1,
                                    data: res["cash"]
                                }]
                            },
                        });

                    }
                });
                </script>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h2>Open Invoices <small>Payable</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Number </th>
                                <th class="column-title">Period</th>
                                <th class="column-title">Date</th>
                                <th class="column-title">Type </th>
                                <th class="column-title">Customer</th>
                                <th class="column-title">Status </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach(var invoice in @Model.CompanyInvoices){
                            <tr class="even pointer">
                                <td class=" ">@invoice.invoiceNo</td>
                                <td class=" ">@invoice.period</td>
                                <td class=" ">@invoice.invoiceDate</td>
                                <td class=" ">@invoice.invoiceType</td>
                                <td class=" ">@invoice.customerID</td>
                                @{

                                if (@invoice.invoiceStatus.ToString()[0]== 'N')
                                {
                                    <td class="red status-invoice">@invoice.invoiceStatus</td>
                                }
                                else
                                {
                                    <td class="green status-invoice">@invoice.invoiceStatus</td>
                                }

}
                                   
                                <!--<td class="a-right a-right ">$7.45</td>-->
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>